header{
    height: 40px;
    background: green;
    margin: 0px 0px 10px
}

nav{
    height: 60px; 
}
.primer_nav{
    background: yellow;
}
.segundo_nav{
    background: blue                                                        ;
}